<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Home</title>

    <link type="text/css" rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../css/resizer.css">
</head>

<body>
    <div id="primaryWrapper">
        <main>
            <div class="main-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-lg-6" data-comp-edit="true">
                            <div class="card inner">
                                <p><span class="bold">Lorem ipsum</span> dolor <span class="italic">sit</span> amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-6" data-comp-edit="true">
                            <div class="card inner">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>