<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Home</title>
    <link type="text/css" rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../css/editor.css">
</head>

<body class="editorMode">
    <header id="editorPanel" class="container-fluid">
        <div class="row">
            <section id="savePage" class="col-4 text-center">
                <button id="save" onclick="save()">Save</button>
            </section>
            <section id="screenSize" class="col-4 text-center">desktop</section>
            <section id="viewButtons" class="col-4 text-right">
                <button id="mobileView" onclick="setScreen(this.value)" value="mobile">M</button>
                <button id="mobileLargeView" onclick="setScreen(this.value)" value="mobile-landscape">ML</button>
                <button id="TabletView" onclick="setScreen(this.value)" value="tablet">T</button>
                <button id="desktopView" onclick="setScreen(this.value)" value="desktop">D</button>
            </section>
        </div>
    </header>
    <div id="editorContainer">
        <iframe id="viewport" src="editorTest.html"></iframe>
    </div>
    <script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/editor.js"></script>
</body>
</html>