*{
    position: relative;
}

body{
    margin: 0;
    background-color: #999;
    max-height: 100vh;
}

#primaryWrapper{
    width: 100%;
    min-height: 100vh;
    background-color: white;
    overflow: scroll;
    padding: 15px;
}

.card{
    padding: 15px;
    border: 1px solid black;
    margin-top: 15px;
    margin-bottom: 15px;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}