<div class="gridGuide row">
    <div class="col-1"><span></span></div>
    <div class="col-1"><span></span></div>
    <div class="col-1"><span></span></div>
    <div class="col-1"><span></span></div>
    <div class="col-1"><span></span></div>
    <div class="col-1"><span></span></div>
    <div class="col-1"><span></span></div>
    <div class="col-1"><span></span></div>
    <div class="col-1"><span></span></div>
    <div class="col-1"><span></span></div>
    <div class="col-1"><span></span></div>
    <div class="col-1"><span></span></div>
</div>